@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");

/*   font-family: "Honk", system-ui; */
body {
  font-family: "Honk", system-ui;
  background-image: url(/img/tabletennis3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
}
